.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  background-blend-mode: multiply, multiply;
}

.HeroContent {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-family: "Inconsolata", monospace;
    text-align: center;
    margin: -60px auto 60px;
    font-size: 2.3rem;
    color: #324d5c;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

    @media (min-width: 768px) {
      font-size: 3rem;
    }

    span.yellow {
      background: #f0ca4d;
    }
  }

  a {
    font-size: 16px;
    text-decoration: none;
    color: #f0ca4d;
    padding: 12px 24px;
    display: inline-block;
    font-family: "Roboto Mono", monospace;
    background: #324d5c;
    box-shadow: 0px 0 0 0 #324d5c inset;

    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    transition: all 0.45s linear;
    font-weight: 500;
    box-shadow: none;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);

    @media (min-width: 768px) {
      font-size: 20px;
    }

    &:hover {
      padding-right: 50px;
      background: #f0ca4d;
      box-shadow: 250px 0 0 0 #f0ca4d inset;
      color: #324d5c;
      font-weight: 600;
      box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);

      span {
        animation: rotateArrow 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67)
          forwards;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        display: inline;
      }
    }

    span {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      display: none;
    }
  }

  @keyframes rotateArrow {
    0%,
    100% {
      width: auto;
      height: auto;
      visibility: visible;
      opacity: 1;
      display: inline;
      top: calc(50% - 9px);
      right: 20px;
    }

    100% {
      transform: rotate(90deg);
    }
  }
}
