.social {
  position: relative;
  overflow: hidden;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(240, 202, 77, 0.9);

  div.content {
    position: relative;
    z-index: 100;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    padding: 0 15px;
    max-width: 600px;

    @media (min-width: 768px) {
      width: 75%;
      max-width: 700px;
      padding: 0;
    }

    @media (min-width: 992px) {
      width: 50%;
      padding: 0;
    }

    h6 {
      font-family: "Inconsolata", monospace;
      font-size: 1.75rem;
      color: #324d5c;
      text-align: center;
      margin: 0 auto 15px;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

      @media (min-width: 768px) {
        font-size: 2.3rem;
        margin: 0 auto 30px;
      }
    }

    a {
      font-size: 16px;
      text-decoration: none;
      color: #ffff;
      padding: 12px 24px;
      display: inline-block;
      font-family: "Roboto Mono", monospace;
      background: #324d5c;
      border-radius: 50px;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      transition: background 0.5s linear;
      font-weight: 500;
      box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);

      @media (min-width: 768px) {
        font-size: 18px;
      }

      &:hover {
        background: #fff;
        color: #324d5c;
        font-weight: 600;
      }
    }
  }
}
