.card {
  border: 5px solid rgba(#324d5c, 0.5);
  border-radius: 30px;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 15px rgba(#222, 0.9);
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s linear all;
  position: relative;
  height: 300px;

  &:hover {
    border: 5px solid rgba(240, 202, 77, 1);
    box-shadow: 5px 5px 15px 10px rgba(#222, 0.9);
    .card-front img {
      transform: scale(1.125);
      filter: blur(5px);
    }

    .card-back {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      background: rgba(240, 202, 77, 0.75);
      background: rgba(#222, 0.8);
    }
  }
}

.card-wrapper {
  height: 100%;
}

.card-front {
  height: 100%;
  img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 0.25s linear all;
  }
}

.card-back {
  position: absolute;
  height: calc(100% + 5px);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 0.35s linear all;

  .card-back-wrapper {
    height: 100%;
    width: 100%;

    a {
      text-decoration: none;
      display: block;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-family: "Roboto Mono", monospace;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 900;
      color: rgba(240, 202, 77, 1);
    }
  }
}
